{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Edit Movies{% endblock %}

{% block content %}
<div class="content">
  <h1 class="heading">{{ movie.title }}</h1>
    <p class="description">Edit Movie Rating</p>
</div>

<div class="container text-center update-rating-form">
      <form action="" method="post">
        {{ form.hidden_tag() }}

        {{ form.rating.label() }}
        {{ form.rating(class="form-control", placeholder="Your Rating") }}
        <br>
        {{ form.review.label() }}
        {{ form.review(class="form-control", placeholder="Your Review") }}
        <br>

        {{ form.submit(class="button") }}
      </form>
    </div>

{% endblock %}